#deck {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  margin: 20px;
}

.card {
  border: 5px solid black;
  height: 150px;
  position: relative;
  width: 100px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, lightsteelblue, white);
}

.card img {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.5));
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px;
  transform: rotate(a180deg);
}

h1 {
  text-align: center;
  font-family: Verdana, sans-serif;
  margin: auto;
  width: 50%;
}

hr {
  height: 5px;
  width: 100%;
  box-shadow: 0px 0px 10px #888888;
  background: black;
}

.text {
  display: inline;
}

.text span {
  display: inline-block;
  padding: 0 10px;
}

.highlight-red {
  background-color: red;
}

.highlight-blue {
  background-color: blue;
}
